body {
    background-color: #490606;
  }
  
#wrapper {
    margin: 24px auto;
    width: 1200px;
    padding: 24px;
    background-color: #2B2B2B;
    display: grid;
    grid-template-columns: repeat(12, 1fr);
    grid-column-gap: 0px;
}

header{
  grid-column: span 5;
  background-color: #9E2222;
  color: white;
  font-family: 'Bebas Neue', cursive;
  letter-spacing: 3px;
  padding-left: 24px;
  margin-bottom: 24px;
}
/*----------*/
#navImage{
  position:right;
}
nav{
  grid-column: span 7;
  background-color: #9E2222;
  background-image: url(NavOverlay.png);
  text-align: center;
  font-size: 26px;
  margin-bottom: 25px;
}
nav ul {
  list-style-type: none;
  margin: 20;
  padding: 20;
  padding-bottom: 0;
}
nav li{
  width: 120px;
  display: inline-block;
}
nav li a{
  display: block;
  color:#2B2B2B;
  font-family: 'Oxanium', cursive;
  text-transform: uppercase;
  text-decoration: none;
  margin-left: 20px;
  transition: all 0.5s;
}
a:hover{
  color:#A9A9A9;
}
.current{
  text-decoration: underline;
}
/*----------*/

.mainimg{
  grid-column: span 12;
  display: block;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 30px;
  width:80%;
  box-shadow: 5px 5px 5px black;
}
.heroText{
  font-family: 'Oxanium', cursive;
  font-size: 200%;
  text-align: center;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  color: white;
  text-shadow: 2px 2px 5px black;
}
.heroText h2{
  font-family: 'Oxanium', cursive;
  border: none;
  font-size:75%;
}
main{
  grid-column: span 12;
  font-family: helvetica, Arial, sans-serif;
  font-weight: bold;
}
section{
  grid-column: span 12;
  font-family: helvetica, sans-serif;
  color:white;
  font-size: 30px;
  padding:20px;

}
.red{
  background-color: #9E2222;
  color: black;
}
.redh2{
  border-bottom: 5px solid black;
}
h2{
  border-bottom: 5px solid white;
  font-family: 'Bebas Neue', arial;
  letter-spacing: 3px;
}
.imghome1, .imghome2{
  margin: 10px;
  width: 50px;
  border:3px solid black;
  box-shadow: 5px 5px 0px #490606;
}
.imghome1{
  width:50%;
  float:right;
}
.imghome2{
  width: 50%;
  float:left;
}

footer{
  grid-column: span 12;
  display:inline-block;
  border-top: 5px solid #A9A9A9;
  text-align: center;
  padding-top:20px;
}
footer a{
  color: #A9A9A9;
  font-size: 30px;
  padding: 10px;
  padding-left: 50px;
  padding-right: 50px;
  border-radius: 24px;
  transition: all 1s;
}
footer a:hover{
  color:#2B2B2B;
  background-color:#A9A9A9;
}